@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexAlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCenterSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}