@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexContentCenter {
    display: flex;
    justify-content: center;
}

@mixin flexContentEnd {
    display: flex;
    justify-content: flex-end;
}

@mixin flexStart {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin flexAlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCenterSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexColumnContentEnd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

@mixin flex($flex-direction, $align-items, $justify-content, $wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $wrap;
}

//responsive
@mixin responsive($breakpoint) {
    @if $breakpoint==phone {
        @media screen and (max-width: 600px) {
            @content;
        }
    }
    @if $breakpoint==tab-port {
        @media screen and (max-width: 900px) {
            @content;
        }
    }
    @if $breakpoint==tab-land {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint==big-destop {
        @media screen and (max-width: 1800px) {
            @content;
        }
    }
}

// cacl item
@mixin calcWidthOfItem($column, $spacing) {
    width: -moz-calc(-moz-calc(100% / #{$column}) - #{$spacing});
    width: -webkit-calc(-webkit-calc(100% / #{$column}) - #{$spacing});
    width: calc(calc(100% / #{$column}) - #{$spacing});
}

// text
@mixin text($fontsize, $font-weight, $font-family, $text-transform, $color, $letter-spacing) {
    font-size: $fontsize;
    font-weight: $font-weight;
    font-family: $font-family;
    text-transform: $text-transform;
    color: $color;
    letter-spacing: $letter-spacing;
}

// animation
@mixin animation($name, $darution, $iteration-count, $timing-function) {
    animation-name: $name;
    animation-duration: $darution;
    animation-iteration-count: $iteration-count;
    animation-timing-function: $timing-function;
}