//abstracts
@import './abstracts/variables';
@import './abstracts/mixins';
//base
@import './base/base';
@import './base/typography';
@import './base/animations';
//components
@import './components/buttons';
@import './components/circle';
@import './components/underline';
//layout
@import './layout/header';
@import './layout/section';
//pages
@import './pages/about';
@import './pages/history';
@import './pages/services';
@import './pages/recentworks';
@import './pages/casestudy';
@import './pages/interaction';
@import './pages/pricing';
//vendors
@import './vendors/fontawesome';
#wrapper {
    max-width: 1920px;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}