/*
* color
*/
/*
* column, spacing
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'BebasNeu';
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  font-weight: 62.5%;
}

a,
input {
  font-weight: 400;
}

@-webkit-keyframes imageUp {
  0% {
    opacity: 0.5;
    -webkit-transform: translate(0, 407px);
            transform: translate(0, 407px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes imageUp {
  0% {
    opacity: 0.5;
    -webkit-transform: translate(0, 407px);
            transform: translate(0, 407px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes textRightToLeft {
  0% {
    opacity: 0.5;
    -webkit-transform: translate(0, 407px);
            transform: translate(0, 407px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes textRightToLeft {
  0% {
    opacity: 0.5;
    -webkit-transform: translate(0, 407px);
            transform: translate(0, 407px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.curent-btn {
  display: inline-block;
  cursor: pointer;
  padding: 22px 45px;
  border-radius: 3px;
  outline: none;
}

.curent-btn a {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.curent-btn--primary {
  min-width: 225px;
  margin-right: 15px;
  border: 1px solid transparent;
  background: #e74c3c;
}

.curent-btn--gradient {
  min-width: 225px;
  margin-left: 15px;
  border: 1px solid #f1ebe7;
  background-color: transparent;
}

.circle-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: rgba(243, 243, 243, 0.5);
  text-align: center;
  border-radius: 100%;
  overflow: hidden;
  width: 74px;
  height: 74px;
}

.circle {
  background: #f4f5f9;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 2rem;
  color: #e74c3c;
}

.underline {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
}

.underline .line {
  width: 80px;
  height: 1px;
  background: #6a6a6a;
}

.underline .dot {
  margin: 0 14px;
  width: 7px;
  height: 7px;
  background-color: transparent;
  border: 2px solid #6a6a6a;
  border-radius: 100%;
}

.underline .dot--primary {
  background: #e74c3c;
  border: none;
}

.header {
  position: relative;
  height: 990px;
}

.header__top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header.sticky .header__top {
  background-color: #080808;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 132px;
}

.header__nav {
  float: right;
}

.header__nav ul {
  margin: 0;
  padding: 0;
}

.header__nav ul li {
  display: inline-block;
  margin-left: 50px;
}

.header__nav ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.header__nav ul li a.active {
  color: #e74c3c;
}

.header__nav ul li a.active::after {
  margin-top: 20px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e74c3c;
}

.header__nav ul li a:hover {
  color: #e74c3c;
}

.header .slider {
  position: relative;
  width: 100%;
}

.header .slider__content {
  position: absolute;
  top: 325px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  text-align: center;
}

.header .slider__subtitle {
  font-family: 'Source Sans Pro';
  font-size: 2.4rem;
  color: #fff;
  font-weight: 500;
}

.header .slider__title {
  margin-top: 50px;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 7.2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.header .slider__desc {
  margin-top: 45px;
  padding-left: 295px;
  padding-right: 295px;
  color: #ada7a2;
  font-family: 'Open Sans';
  font-size: 1.4rem;
}

.header .underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

.header .underline--line {
  display: inline-block;
  background: #f1ebe7;
  height: 1px;
  width: 80px;
}

.header .underline--dot {
  margin: 0 13px;
  display: inline-block;
  background: #f1ebe7;
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background: #e74c3c;
}

.header .slider__group-button {
  margin-top: 67px;
}

.header .carousel-inner .carousel-item {
  height: 990px;
}

.header .carousel-control-next,
.header .carousel-control-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background: #716a65;
  text-align: center;
  line-height: 48px;
  border-radius: 3px;
  font-size: 2rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 1;
  z-index: 99;
}

.header .carousel-control-next:hover,
.header .carousel-control-prev:hover {
  background: #e74c3c;
  color: #fff;
}

.header .carousel-control-prev {
  left: 46px;
}

.header .carousel-control-next {
  right: 46px;
}

.header .banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

.header #menu-icon {
  font-size: 2.3rem;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

.header .fa-times {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .header-circle {
  top: 96%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9;
}

.section-title {
  margin-top: 134px;
  text-align: center;
}

.section-title h2 {
  font-size: 3.6rem;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #6a6a6a;
  letter-spacing: 0.7rem;
  line-height: 3.6rem;
}

@media screen and (max-width: 600px) {
  .section-title h2 {
    font-size: 2.6rem;
    letter-spacing: 0.3;
  }
}

.section-title p {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Open Sans";
  text-transform: initial;
  color: #6a6a6a;
  letter-spacing: 0;
  margin-top: 29px;
}

.about {
  border-bottom: 1px solid #e6e7eb;
}

.about__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: -50px;
  padding-top: 115px;
  padding-bottom: 109px;
}

@media screen and (max-width: 600px) {
  .about__intro {
    margin-right: -20px;
  }
}

.about__single-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(calc(100% / 4) - 50px);
  margin-right: 50px;
}

@media screen and (max-width: 600px) {
  .about__single-intro {
    width: calc(calc(100% / 2) - 20px);
    margin-right: 20px;
    margin-bottom: 15px;
  }
}

.about__single-intro:first-child h3 {
  color: #e74c3c;
}

.about__single-intro:first-child img {
  border: none;
}

.about__single-intro img {
  max-width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about__single-intro__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.about__single-intro__content h3 {
  position: relative;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: bold;
  color: #6a6a6a;
  letter-spacing: 1.5px;
  padding-bottom: 20px;
}

.about__single-intro__content h3::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background: #6a6a6a;
}

.about__single-intro__content p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 17px;
  font-family: 'Source Sans Pro';
  font-size: 1.2rem;
  color: #c3c3c3;
}

.about__single-intro__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
}

.about__single-intro__img img {
  border: 2px solid #e5e5e5;
}

.history {
  padding: 145px 0;
}

@media screen and (max-width: 900px) {
  .history {
    padding: 100px 0;
    width: calc(calc(100% / 1) - 0px);
  }
}

.history__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.history__content__img {
  padding-right: 80px;
  width: calc(calc(100% / 2) - 0px);
}

@media screen and (max-width: 900px) {
  .history__content__img {
    padding: 0;
    text-align: center;
    width: calc(calc(100% / 1) - 0px);
  }
}

@media screen and (max-width: 600px) {
  .history__content__img {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .history__content__img img {
    width: 100%;
  }
}

.history__content__text {
  width: calc(calc(100% / 2) - 0px);
}

@media screen and (max-width: 900px) {
  .history__content__text {
    padding: 0;
    margin-top: 40px;
    text-align: center;
    width: calc(calc(100% / 1) - 0px);
  }
}

@media screen and (max-width: 600px) {
  .history__content__text {
    padding: 0 20px;
  }
}

.history__content__text__title-box {
  display: inline-block;
  border-left: 5px solid #e74c3c;
}

.history__content__text__title-box h2 {
  font-size: 3.6rem;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #6a6a6a;
  letter-spacing: 0.5rem;
  padding-left: 30px;
  line-height: 3.9rem;
  margin-bottom: 48px;
}

@media screen and (max-width: 900px) {
  .history__content__text__title-box h2 {
    margin-bottom: 0;
    width: calc(calc(100% / 1) - 0px);
  }
}

@media screen and (max-width: 600px) {
  .history__content__text__title-box h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.history__content__text p {
  margin-top: 44px;
  line-height: 26px;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Open Sans";
  text-transform: none;
  color: #6a6a6a;
  letter-spacing: 0;
}

.history__content__text .history-btn {
  margin-top: 48px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.services__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column;
  background: #202020;
  width: 60%;
  padding-right: 65px;
  padding-left: 396px;
}

@media screen and (max-width: 1200px) {
  .services__content {
    padding-left: 96px;
  }
}

@media screen and (max-width: 900px) {
  .services__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 30px 50px;
  }
}

@media screen and (max-width: 600px) {
  .services__content {
    padding: 30px 30px;
  }
}

.services__content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  position: absolute;
  left: 48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services__content__nav div {
  background: #3e3e3e;
  width: 3px;
  height: 35px;
  margin-bottom: 10px;
}

.services__content__nav div:nth-child(2) {
  background: #e74c3c;
}

@media screen and (max-width: 900px) {
  .services__content__nav {
    left: 28px;
  }
}

@media screen and (max-width: 600px) {
  .services__content__nav {
    left: 8px;
  }
}

.services__content__title {
  display: inline-block;
  border-right: 3px solid #e74c3c;
  padding-right: 35px;
}

@media screen and (max-width: 600px) {
  .services__content__title {
    padding-right: 15px;
  }
}

.services__content__title h2 {
  font-size: 3.6rem;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #f4f5f9;
  letter-spacing: 0.8rem;
  line-height: 3.6rem;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .services__content__title h2 {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #f4f5f9;
    letter-spacing: 0.5rem;
    line-height: 2.3rem;
  }
}

.services__content__single {
  margin-top: 25px;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .services__content__single {
    text-align: left;
  }
}

.services__content__single h4 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #c24336;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 600px) {
  .services__content__single h4 {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #c24336;
    letter-spacing: 0.5rem;
  }
}

.services__content__single p {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Open Sans";
  text-transform: none;
  color: #676767;
  letter-spacing: 0;
}

.services__img {
  width: 40%;
}

@media screen and (max-width: 900px) {
  .services__img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .services__img img {
    width: 100%;
  }
}

.recent-works {
  background: #fff;
}

.recent-works__title {
  margin-top: 134px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .recent-works__title {
    margin-top: 70px;
  }
}

@media screen and (max-width: 600px) {
  .recent-works__title h2 {
    font-size: 2.6rem;
    letter-spacing: 0.3;
  }
}

.recent-works__title p {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Open Sans";
  text-transform: initial;
  color: #6a6a6a;
  letter-spacing: 0;
}

.recent-works__nav {
  margin-top: 68px;
  text-align: center;
}

.recent-works__nav li {
  display: inline-block;
  margin-right: 20px;
}

.recent-works__nav li a {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #6a6a6a;
  letter-spacing: 0;
  text-decoration: none;
  margin-right: 10px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.recent-works__nav li a:hover {
  color: #e74c3c;
}

.recent-works__nav li a.active {
  color: #e74c3c;
}

.recent-works__nav li span {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #6a6a6a;
  letter-spacing: 0;
  font-weight: bold;
}

.recent-works__images {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .recent-works__images {
    padding: 0 20px;
  }
}

.recent-works__images__item {
  width: calc(calc(100% / 4) - 0px);
}

@media screen and (max-width: 900px) {
  .recent-works__images__item {
    width: calc(calc(100% / 2) - 0px);
  }
}

@media screen and (max-width: 600px) {
  .recent-works__images__item {
    width: calc(calc(100% / 1) - 0px);
  }
}

@media screen and (max-width: 600px) {
  .recent-works__images__item img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .case-study__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    padding: 10px;
  }
}

.case-study .section-title.case-study__title {
  margin-top: 70px;
}

.case-study__content {
  position: relative;
}

.case-study__content__slider {
  width: 60%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 116px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 99;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .case-study__content__slider {
    width: 100%;
    position: unset;
    margin-top: 30px;
  }
}

.case-study__content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  text-align: center;
  padding: 80px 65px 115px 60px;
}

@media screen and (max-width: 600px) {
  .case-study__content__box {
    padding: 40px 25px 75px 40px;
  }
}

.case-study__content__box h4 {
  position: relative;
  margin-top: 53px;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #6a6a6a;
  letter-spacing: 0.5rem;
  line-height: 1.8rem;
  padding-bottom: 30px;
}

.case-study__content__box h4::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background-color: #6a6a6a;
}

@media screen and (max-width: 600px) {
  .case-study__content__box h4 {
    margin-top: 33px;
  }
}

.case-study__content__box p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Open Sans";
  text-transform: initial;
  color: #6a6a6a;
  letter-spacing: 0;
}

.case-study__content__box .case-study-btn {
  display: inline-block;
  width: 145px;
  margin-top: 45px;
}

.case-study__content #case-study-carousel .carousel-indicators {
  margin: 0;
  bottom: 40px;
}

@media screen and (max-width: 600px) {
  .case-study__content #case-study-carousel .carousel-indicators {
    bottom: 20px;
  }
}

.case-study__content #case-study-carousel .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  background-color: #f4f5f9;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
  border-radius: 100%;
  margin-right: 10px;
}

.case-study__content #case-study-carousel .carousel-indicators .active {
  background-color: #e74c3c;
}

.case-study__content__img {
  text-align: right;
}

.case-study__content__img img {
  margin-top: 70px;
}

@media screen and (max-width: 600px) {
  .case-study__content__img img {
    width: 100%;
    margin-top: 20px;
  }
}

.interaction {
  margin-top: 150px;
  background-image: url(.././images/interactions.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 511px;
}

.interaction__list {
  height: 511px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.interaction__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
}

.interaction__single__icon {
  width: 102px;
  height: 102px;
  line-height: 107px;
  background: transparent;
  text-align: center;
  border: 1px solid #928c87;
  border-radius: 100%;
  color: #ffffff;
  font-size: 2.8rem;
}

@media screen and (max-width: 600px) {
  .interaction__single__icon {
    width: 82px;
    height: 82px;
    line-height: 87px;
  }
}

.interaction__single__text {
  margin-top: 48px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .interaction__single__text {
    margin-top: 28px;
  }
}

.interaction__single__text span {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0;
}

@media screen and (max-width: 600px) {
  .interaction__single__text span {
    font-size: 2.8rem;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0;
  }
}

.interaction__single__text p {
  margin-top: 17px;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: capitalize;
  color: #f4f5f9;
  letter-spacing: 0;
  line-height: 0;
}

@media screen and (max-width: 600px) {
  .interaction__single__text p {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Open Sans";
    text-transform: capitalize;
    color: #f4f5f9;
    letter-spacing: 0;
  }
}

.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 65px;
  margin-right: -15px;
}

.pricing__item {
  position: relative;
  margin-right: 15px;
  width: calc(calc(100% / 3) - 15px);
}

.pricing__item__top {
  text-align: center;
  padding-top: 49px;
  padding-bottom: 135px;
  background: #999999;
}

.pricing__item__top span {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.2rem;
}

.pricing__item__bottom {
  text-align: center;
  background: #f4f5f9;
  padding: 0 84px;
}

.pricing__item__bottom p {
  padding-top: 120px;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: capitalize;
  color: #999999;
  letter-spacing: 0;
  line-height: 23px;
}

.pricing__item__bottom .curent-btn.pricing-btn {
  margin-top: 48px;
  margin-bottom: 48px;
  width: 146px;
  background: #999999;
  padding: 16px 30px;
}

.pricing__item__bottom .curent-btn.pricing-btn a {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0;
}

.pricing__item:nth-child(2) .pricing__item__top {
  background: #e74c3c;
}

.pricing__item:nth-child(2) .pricing__item__bottom .curent-btn.pricing-btn {
  background: #e74c3c;
}

.pricing__item .circle-cover.header-circle {
  position: absolute;
  left: 50%;
  top: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 172px;
  height: 172px;
  background-color: rgba(248, 246, 246, 0.5);
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pricing__item .circle-cover.header-circle .circle {
  width: 152px;
  height: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
}

.pricing__item .circle-cover.header-circle .circle span {
  font-size: 3.8rem;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #999999;
  letter-spacing: 0;
}

.pricing__item .circle-cover.header-circle .circle p {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: unset;
  color: #999999;
  letter-spacing: 0;
  line-height: 0;
}

@font-face {
  src: url(/fonts/BebasNeue/BebasNeueRegular-gxj83.ttf);
  font-family: BebasNeu;
}

@font-face {
  src: url(/fonts/AlfaSlabOne/AlfaSlabOne-Regular.ttf);
  font-family: AlfaSlabOne;
}

@font-face {
  src: url(/fonts/MyriadPro/FontsFree-Net-MYRIADPRO-REGULAR.ttf);
  font-family: Myriad Pro;
}

#wrapper {
  max-width: 1920px;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */