.section-title {
    margin-top: 134px;
    text-align: center;
    h2 {
        @include text(3.6rem, bold, 'Open Sans', uppercase, #6a6a6a, 0.7rem);
        line-height: 3.6rem;
        @include responsive(phone) {
            font-size: 2.6rem;
            letter-spacing: 0.3;
        }
    }
    p {
        @include text(1.4rem, 500, 'Open Sans', initial, #6a6a6a, 0);
        margin-top: 29px;
    }
}