* {
    font-family: 'BebasNeu';
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    font-weight: 62.5%;
}

a,
input {
    font-weight: 400;
}